.todo-pill {
    font-size: 24px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
}

.todo-title {

}
.todo-status{

}