.App {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.App-header {
  flex: 0 1 40px;
  background-color: #282c34;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  flex: 1 1 auto;
  overflow-y: auto;
}

.App-footer {
  flex: 0 1 40px;
  background-color: #282c34;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}